.rotate { 
    -moz-animation: spin 1s ease-in-out infinite;
    -o-animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    display: inline-block;
    margin: 25px;
}

.pulse {
    animation: magnified 2s infinite;
    display: inline-block;
    margin: 25px;
}

@keyframes magnified{
    0% {
      transform: scale(0.75);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.75);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
      }
}

@-moz-keyframes spin {
    to {
        -moz-transform: rotate(360deg);
      }
}

@-o-keyframes spin {
    to {
        -o-transform: rotate(360deg);
      }
}

@-ms-keyframes spin {
    to {
        -ms-transform: rotate(360deg);
      }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
      }
}

.loading-text {
    font-size: 25px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.loading-container {
	text-align: center;
	width: 100%;
	align-items: center;
	justify-content: center;
    position: absolute;
    height: 200px;
    top: 50%;
    margin-top: -100px;
}